/*!RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*!GENERAL STYLES*/
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*!CALENDAR COINTAINER*/
.calendar {
  width: 70%;
  height: 100%;
  background-color: aqua;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* !CALENDAR HEADER*/
.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.calendar__header__date {
  display: flex;
  flex-direction: column;
}

/* !CALENDAR WEEKS*/

.calendar__weeks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__week__item {
  text-align: center;
}
/* !BTN PREV AND NEXT*/
.header__btn {
  height: 2rem;
  width: 5rem;
}
/* !CALENDAR DAYS*/

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar__days-style div {
  margin-top: 2vh;
  height: 3.5rem;
}
.calendar__days div {
  text-align: center;
  list-style: none;
  cursor: pointer;
}

.calendar__day__item-bloqued {
  color: rgba(179, 179, 179, 0.795);
  text-align: center;
}

/*!MODAL TEST STYLES*/
/*!MODAL FORM*/
.modal__container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.modal__content {
  position: absolute;
  background-color: red;
  text-align: center;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hide__element {
  display: none;
}
.show__element {
  display: flex;
}

/*!CONTAINER SHOW EVENTS TITLE*/
.event__container__title {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: violet;
  flex-direction: column;
  /* TODO: SCROLL MORE EVENTS */
}
/*TODO: CHANGE STYLES*/
.event__title__div {
  padding: 2rem;
  background-color: aliceblue;
  margin: 1rem;
  cursor: pointer;
}
/*!Events info*/
.events__info{
  position: absolute;
  color: white;
  width: 40%;
  height: 40%;
  margin: 0 auto;
  background-color: blue;
  flex-direction: column;

}